name: Update Readme
on:
  schedule:
    - cron: "30 0,5,12,13,20 * * *"
  # Manual triggers with workflow_dispatch
  workflow_dispatch:
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        # uses: matchai/waka-box@master
        # env:
        #   GH_TOKEN: ${{ secrets.GH_TOKEN }}
        #   GIST_ID: 85f21558e2fe833d141caaf289861bfa
        #   WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install

      - name: Build readme.md
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 85f21558e2fe833d141caaf289861bfa
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
        run: |-
          node src/index.js

      - name: Commit and push if changed
        run: |-
          git diff
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add -A
          git commit -m "action: update readme automatically" || exit 0
          git push
